.caroussel-item img { /* Carrusel */
    width: 100%;
    height: 400px;      
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-img-top { /* Card Productos */
    width: 50%;
    height: 200px;
    object-fit: scale-down;
}

#floatingCart {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  left: auto !important;

  width: 60px;
  height: 60px;
  background-color: #212529;
  color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 1.5rem;
  z-index: 9999;
}

#floatingCart:hover {
  background-color: #0d6efd;
}

#floatingCart span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}